@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image{
    background-image: url(../../public/assets/images/connectedUsers/connectUserimg.png);
    
}
/* .top-logo{
    width: 30px;
    height: 30px;
} */